<div class="container">
  <div class="hero-section-text">
    <form class="exchange-form ng-pristine ng-valid" [formGroup]="sendForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 col-xs-12 hero-exchange-section">
          <div class="brand">
            <h1 class="margin-bottom-min">Exchange Xels Coin</h1>
              <h3>Simple . Secure . Transparent</h3>
          </div>


          <div class="row">
            <div class="col-md-6 col-sm-6 margin-bottom-max">
              <div class="form-group label-floating">
                  <label  for="Ethereum">Ethereum
                  </label>
                  <input type="text" class="form-control" placeholder="Deposit" formControlName="deposit_eth" [class.is-invalid]="sendFormErrors.deposit_eth" [class.is-valid]="!sendFormErrors.deposit_eth && sendForm.get('deposit_eth').valid" (keyup) ="updateXels($event)">
                  <div *ngIf="sendFormErrors.deposit_eth" class="invalid-feedback">{{ sendFormErrors.deposit_eth }}</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 margin-bottom-max">
              <div class="form-group label-floating">
                <label for="Xels">Xels
                </label>
                <input type="text" class="form-control"  placeholder="Receive" [class.is-invalid]="sendFormErrors.receive_xels" [class.is-valid]="!sendFormErrors.receive_xels && sendForm.get('receive_xels').valid" formControlName="receive_xels" disabled >
                <div *ngIf="sendFormErrors.receive_xels" class="invalid-feedback">{{ sendFormErrors.receive_xels }}</div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-9 form-last-options">
                <div class="form-group label-floating">
                    <input type="text" name="xels_address" class="form-control" required="required" formControlName="xels_address"  placeholder="Your Xels Address" [class.is-invalid]="sendFormErrors.xels_address" [class.is-valid]="!sendFormErrors.xels_address && sendForm.get('xels_address').valid" autocomplete="off">
                    <div *ngIf="sendFormErrors.xels_address" class="invalid-feedback">{{ sendFormErrors.xels_address }}</div>
                  </div>
            </div>
            <label *ngIf="estimatedFee" class="blockText text-danger" hidden></label>
            <div class="col-md-3 order-form-submit-parent">
                 <button *ngIf="!isSending" type="submit" style=" margin-top: 15%;" class="btn btn-primary btn-lg order-form-submit-btn" >Send</button>
            </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
