<div id="header">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a ><div class="logo-container"><img src=""></div></a>
      </div>
      <div id="navigation-index" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right nav-top">
              <!--<li><a href="#" class="btn btn-warning how-it-works">How it works</a></li>-->
              <li><a routerLink="/about" data-hover="About">About</a></li>
              <li><a routerLink="/work" >How it works</a></li>
              <li><a routerLink="/faq"  data-hover="FAQ">FAQ</a></li>
              <li><a routerLink="/support"  data-hover="Support">Support</a></li>
              <li><a routerLink="/login"  data-hover="Support">Login</a></li>
              <li><a routerLink="/register"  data-hover="Support">SignUp</a></li>
          </ul>
      </div>
  </div>
</div>


